*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.card_image{
    height: 600px; 
     max-width: 430px;
    /* border: 1px solid black; */
       
}
/* .card_image_container{
   max-width: 400px;
} */

.container{
    max-width: 100vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: burlywood; */

}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;

 }

 .header_description{
    max-width: 500px;
    text-align: center;
    color: rgb(48, 47, 47);
    margin: 0 auto;
 }

 .main_container{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    /* background-color: burlywood; */
    grid-template-columns: repeat(3, 1fr);
     

 }




 

 .card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    align-items: center;
    padding-top: 2px;
    overflow: hidden;
     width: 430px;
 }



 .card_image_container{
    position: relative;
    overflow: hidden;
    width: 430 px;
    
 }

 .card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
 }

 .card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
 }

 .card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(31, 29, 29);
    line-height: 1.5rem;
    margin-bottom: 0.3;
 }

 .card_title_anchor:hover .card_title{
    color: rgb(104, 104, 226)
 }


 .card_description{
   color: black;
   font-size: 1rem;
    max-width: 200px;

 }